In [2]:
import pandas as pd

In [ ]:

# Asume que el archivo CSV se llama 'datos.csv' y est√° en el mismo directorio

df_dict = pd.read_csv('../dataset/goodreads_data_dictionary.csv')
df_reviews= pd.read_csv('https://huggingface.co/datasets/Pauleera/Goodreads-Book-Reviews/resolve/main/goodreads_reviews.csv')
df_books= pd.read_csv('https://huggingface.co/datasets/Pauleera/Goodreads-Book-Reviews/resolve/main/goodreads_works.csv')


# Imprime las primeras filas del DataFrame para verificar

/var/folders/g2/ymhyf3dx5_q5mmg521b60fh40000gn/T/ipykernel_43424/3364809258.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_reviews= pd.read_csv('https://huggingface.co/datasets/Pauleera/Goodreads-Book-Reviews/resolve/main/goodreads_reviews.csv')

In [4]:
df_reviews.head()

,review_id,user_id,work_id,started_at,read_at,date_added,rating,review_text,n_votes,n_comments
0,fa7a00c01296e3b2b2e857d79c51ea77,3693bb4f1062b659a354848cf11ca313,6128277,NaN,NaN,2013-12-21 00:00:00.000,5.0,Fire is half-human and half monster. Monsters ...,0,0
1,de0f7c8d15e247443e51969becf2878e,3693bb4f1062b659a354848cf11ca313,3270810,NaN,NaN,2013-12-21 00:00:00.000,5.0,Katsa is a graceling - blessed with an ability...,0,0
2,e79b49504ef58b2defcdc8b79e2ec3fb,3693bb4f1062b659a354848cf11ca313,4768235,NaN,NaN,2013-12-19 00:00:00.000,5.0,"This is a fun, light-hearted read. Tammy Jo is...",0,0
3,495c1210a9dbd819cbf7717dfb8b217f,3693bb4f1062b659a354848cf11ca313,6264661,NaN,NaN,2013-12-16 00:00:00.000,5.0,"Cassel, was a character that I was looking for...",0,0
4,54fcd8963c9dd56485d2a4ad152699c2,3693bb4f1062b659a354848cf11ca313,3429537,NaN,NaN,2013-12-16 00:00:00.000,5.0,This is kind of one of those books that I saw ...,0,0

In [7]:
df_books.head()

,work_id,isbn,isbn13,original_title,author,original_publication_year,num_pages,description,genres,image_url,reviews_count,text_reviews_count,5_star_ratings,4_star_ratings,3_star_ratings,2_star_ratings,1_star_ratings,ratings_count,avg_rating,similar_books
0,2919130,1416534601,9.781417e+12,Nocturnes,John Connolly,2004.0,NaN,NaN,"fiction, fantasy, paranormal, mystery, thrille...",https://s.gr-assets.com/assets/nophoto/book/11...,8820,338,1118,1601,1029,190,58,3996,3.9,NaN
1,52087333,NaN,NaN,Draw Play,Tia Lewis,2016.0,NaN,Jake:\nI can't believe my coach assigned me a ...,"romance, fiction",https://s.gr-assets.com/assets/nophoto/book/11...,2482,204,204,353,274,77,29,937,3.7,NaN
2,1649583,1416505520,9.781417e+12,Citizen of the Galaxy,Robert A. Heinlein,1957.0,NaN,"In a distant galaxy, the atrocity of slavery w...","fiction, young-adult, fantasy, paranormal, chi...",https://s.gr-assets.com/assets/nophoto/book/11...,16506,447,3539,4351,2863,444,53,11250,4.0,NaN
3,688299,0060541830,9.780061e+12,Congo,Michael Crichton,1980.0,NaN,"Deep in the African rain forest, near the lege...","fiction, mystery, thriller, crime, fantasy, pa...",https://s.gr-assets.com/assets/nophoto/book/11...,170916,1633,25081,45775,48505,14001,2926,136288,3.6,NaN
4,3464264,0451528824,9.780452e+12,Anne of Green Gables,L.M. Montgomery,1908.0,NaN,"Everyone's favorite redhead, the spunky Anne S...","fiction, young-adult, children, history, histo...",https://s.gr-assets.com/assets/nophoto/book/11...,743392,14586,272952,161856,81578,19933,9099,545418,4.2,NaN

In [ ]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143887 entries, 0 to 1143886
Data columns (total 10 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   review_id    1143887 non-null  object
 1   user_id      1143887 non-null  object
 2   work_id      1143887 non-null  int64
 3   started_at   796392 non-null   object
 4   read_at      1031765 non-null  object
 5   date_added   1143887 non-null  object
 6   rating       1106569 non-null  float64
 7   review_text  1143887 non-null  object
 8   n_votes      1143887 non-null  int64
 9   n_comments   1143887 non-null  int64
dtypes: float64(1), int64(3), object(6)
memory usage: 87.3+ MB

In [11]:
df_reviews.describe()

            work_id        rating       n_votes    n_comments
count  1.143887e+06  1.106569e+06  1.143887e+06  1.143887e+06
mean   1.783007e+07  3.813560e+00  2.963288e+00  8.775010e-01
std    1.479572e+07  1.064182e+00  1.761541e+01  5.077508e+00
min    1.040000e+02  1.000000e+00 -3.000000e+00 -1.000000e+00
25%    3.443248e+06  3.000000e+00  0.000000e+00  0.000000e+00
50%    1.595644e+07  4.000000e+00  0.000000e+00  0.000000e+00
75%    2.503250e+07  5.000000e+00  1.000000e+00  0.000000e+00
max    5.771752e+07  5.000000e+00  3.222000e+03  8.330000e+02

In [12]:
df_books.describe()

,work_id,isbn13,original_publication_year,num_pages,reviews_count,text_reviews_count,5_star_ratings,4_star_ratings,3_star_ratings,2_star_ratings,1_star_ratings,ratings_count,avg_rating
count,1.352500e+04,1.186400e+04,13507.000000,12795.000000,1.352500e+04,13525.000000,1.352500e+04,1.352500e+04,13525.000000,13525.000000,13525.000000,1.352500e+04,13525.000000
mean,1.843626e+07,9.747165e+12,2003.080107,335.281907,6.144095e+04,2036.729094,1.439802e+04,1.217218e+04,6903.023438,1914.217449,832.535749,3.621997e+04,3.919172
std,1.625871e+07,4.968387e+11,59.253869,137.886560,2.030634e+05,5429.474425,7.054622e+04,4.551464e+04,25035.566622,8474.231911,5781.345968,1.483743e+05,0.278222
min,1.040000e+02,9.781452e+09,-500.000000,1.000000,1.070000e+02,18.000000,5.000000e+00,4.000000e+00,4.000000,0.000000,0.000000,3.600000e+01,2.400000
25%,2.953328e+06,9.780346e+12,2006.000000,260.000000,6.804000e+03,286.000000,7.590000e+02,9.470000e+02,596.000000,146.000000,44.000000,2.673000e+03,3.700000
50%,1.599279e+07,9.780616e+12,2011.000000,334.000000,1.658800e+04,664.000000,2.343000e+03,2.650000e+03,1576.000000,383.000000,123.000000,7.351000e+03,3.900000
75%,2.587888e+07,9.781422e+12,2014.000000,391.000000,4.401700e+04,1709.000000,7.925000e+03,7.854000e+03,4463.000000,1100.000000,369.000000,2.202500e+04,4.100000
max,5.771752e+07,9.876543e+12,2021.000000,2201.000000,6.057595e+06,156575.000000,3.131920e+06,1.519190e+06,808753.000000,444888.000000,463808.000000,5.066596e+06,4.800000

In [13]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13525 entries, 0 to 13524
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   work_id                    13525 non-null  int64
 1   isbn                       11474 non-null  object
 2   isbn13                     11864 non-null  float64
 3   original_title             13525 non-null  object
 4   author                     13525 non-null  object
 5   original_publication_year  13507 non-null  float64
 6   num_pages                  12795 non-null  float64
 7   description                13356 non-null  object
 8   genres                     13525 non-null  object
 9   image_url                  13525 non-null  object
 10  reviews_count              13525 non-null  int64
 11  text_reviews_count         13525 non-null  int64
 12  5_star_ratings             13525 non-null  int64
 13  4_star_ratings             13525 non-null  int64
 14  3_star_ratings             13525 non-null  int64
 15  2_star_ratings             13525 non-null  int64
 16  1_star_ratings             13525 non-null  int64
 17  ratings_count              13525 non-null  int64
 18  avg_rating                 13525 non-null  float64
 19  similar_books              11010 non-null  object
dtypes: float64(4), int64(9), object(7)
memory usage: 2.1+ MB

In [19]:
df_books[df_books['ratings_count'] < 1000].value_counts()

work_id   isbn        isbn13        original_title                             author                original_publication_year  num_pages  description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            genres                                                                                                                image_url                                                    reviews_count  text_reviews_count  5_star_ratings  4_star_ratings  3_star_ratings  2_star_ratings  1_star_ratings  ratings_count  avg_rating  similar_books
97417     0440238455  9.780440e+12  Quicksilver                                Stephanie Spinner     2005.0                     240.0      Hermes--also known as Mercury, Wayfinder, and Prince of Thieves--has many talents. Wearing his famed winged sandals, he does the bidding of his father Zeus, leads the dead down to Hades, and practices his favorite arts of trickery and theft. He also sees the future, travels invisibly, loves jokes, and abhors violence. And he's an entertaining and ideal narrator on a fast-paced journey through ancient Greek mythology--from Medusa's cave to Trojan War battlefields to the mysterious Underworld.\nStephanie Spinner brings the famous messenger--and the best-known gods and mortals of mythology--to life with high action and spare, powerful prose.\nFrom the Hardcover edition.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    fantasy, paranormal, young-adult, fiction, history, historical fiction, biography                                     https://images.gr-assets.com/books/1320467665m/101038.jpg    2142           83                  148             183             194             54              16              595            3.7         5390862                                                                                                         1
42587438  0785154906  9.780785e+12  Uncanny X-Men, Volume 5: The Omega Mutant  Brian Michael Bendis  2015.0                     136.0      Everything has been leading to this: a turning point for the Uncanny X-Men! And it all revolves around their deceased former mentor and leader, Professor Charles Xavier! Scott Summers has swiftly become one of the world's most wanted men. Thanks to the Phoenix-possessed murder of Professor X, he destroyed his former life and must now remain constantly vigilant in case of attack. But is the greatest threat to his safety lurking within the dark recesses of his own mind? Then, Magneto returns to the X-Men, but they're certainly not happy to see him. In the fallout from AXIS, the team returns to the school to lick their wounds and search for an identity. Are they terrorists, revolutionaries, teachers or something else entirely? For some, the events of AXISmay have left a deeper wound than anyone realizes.\nCollecting: Uncanny X-Men26-31                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           comics, graphic, fiction, fantasy, paranormal, young-adult, mystery, thriller, crime                                  https://images.gr-assets.com/books/1431444139m/23017880.jpg  773            77                  111             233             140             38              6               528            3.8         40257738, 27665928                                                                                              1
42247032  1627791817  9.781628e+12  The Gilded Cage                            Lucinda Gray          2016.0                     245.0      After growing up on a farm in Virginia, Walthingham Hall in England seems like another world to sixteen-year-old Katherine Randolph. Her new life, filled with the splendor of upper-class England in the 1820s, is shattered when her brother mysteriously drowns. Katherine is expected to observe the mourning customs and get on with her life, but she can't accept that her brother's death was an accident.\nA bitter poacher prowls the estate, and strange visitors threaten the occupants of the house. There's a rumor, too, that a wild animal stalks the woods of Walthingham. Can Katherine retain her sanity long enough to find out the truth? Or will her brother's killer claim her life, too?                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       fiction, history, historical fiction, biography, young-adult, mystery, thriller, crime, romance, fantasy, paranormal  https://images.gr-assets.com/books/1465045045m/22718751.jpg  8048           211                 75              207             354             146             42              824            3.2         45490177, 47434536, 45262610, 48183733, 49151605, 44640238, 45592438, 45053729, 45733845, 41396000, 45364936    1
42270637  0449817520  9.780450e+12  Silver Eve                                 Sandra Waugh          2015.0                     384.0      The Healer Evie saves two herbs for herself--yew, a quick and painful poison, and heliotrope, for the deep, deep sleep that never ends.\nAfter the death of her beloved, seventeen-year-old Evie Carew wants nothing more than to lose herself forever in Rood Marsh. But when the old seer Harker tells her she's meant for a greater task, Evie's curiosity keeps her going. What is this shell that Harker insists she must find? And why can't she stop thinking about the handsome Rider Laurent, the man who saved her on the worst day of her life?\nSoon Evie discovers that she is the Guardian of Death, the second of four Guardians who must awaken to their powers to recover four stolen amulets. Together, the amulets--Life, Death, Dark, and Light--keep the world in balance. To take back the shell that is Death's amulet, Evie has to learn to trust her Healer instincts and understand that love never dies.\nIn this spellbinding fantasy, Sandra Waugh continues the beautifully written series begun with Lark Rising.                                                                                                                                                                                                                                                                                                                       fantasy, paranormal, young-adult, romance, history, historical fiction, biography, fiction                            https://images.gr-assets.com/books/1418937042m/22733612.jpg  1843           45                  77              100             89              27              9               302            3.7         45570267, 42804218, 37100998, 27473756                                                                          1
42346597  1632162032  9.781632e+12  Murder on the Mountain                     Jamie Fessenden       2014.0                     210.0      When Jesse Morales, a recent college grad who aspires to be a mystery writer, volunteers to work on the summit of Mt. Washington for a week, he expects to work hard. What he doesn't expect is to find a corpse in the fog, lying among the rocks, his head crushed. The dead man turns out to be a young tourist named Stuart Warren, who strayed from his friends while visiting the mountain.\nKyle Dubois, a widowed state police detective, is called to the scene in the middle of the night, along with his partner, Wesley Roberts. Kyle and Jesse are instantly drawn to one another, except Jesse's fascination with murder mysteries makes it difficult for Kyle to take the young man seriously. But Jesse finds a way to make himself invaluable to the detective by checking into the hotel where the victim's friends and family are staying and infiltrating their circle. Soon, he is learning things that could very well solve the case--or get him killed.                                                                                                                                                                                                                                                                                                                                                                                        mystery, thriller, crime, romance, fiction                                                                            https://images.gr-assets.com/books/1406163524m/22798208.jpg  722            81                  60              136             87              17              7               307            3.7         21923276, 21838578, 26150402, 42294276, 24507069, 25699560, 14605100, 41694947                                  1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
21361793  1426894104  9.781427e+12  Sight Unseen                               Hunter Raines         2012.0                     175.0      Daniel Van Doren was once a renowned writer, until he was blinded in the car accident that killed his lover. Now, all he sees are ghosts in need of help. They follow him everywhere, and the only way to be rid of his ethereal visitors is to help them resolve their unfinished business here on earth so their spirits can find peace.\nGhostwriter Logan Riley is assigned to pen Daniel's biography. He plans to reveal him as a fraud, but when they meet he's struck by Danny's quiet sincerity--and a growing attraction. Which makes sticking close to Danny to find out the truth more than a little distracting.\nWhen they are attacked by a violent poltergeist Logan begins to believe Danny's not just telling the truth, he's in grave danger. A spirit has learned how to harness the energy of the living to break through the barrier between worlds to harm Danny. And Logan may be the one to blame...\n68,000 words                                                                                                                                                                                                                                                                                                                                                                                                                             fantasy, paranormal, romance, mystery, thriller, crime                                                                https://images.gr-assets.com/books/1342212712m/15701815.jpg  531            64                  47              114             66              25              5               257            3.7         21591489, 19385292, 25694373, 25264357, 24793001                                                                1
21367084  0062022342  9.780062e+12  The Duke Diaries                           Sophia Nash           2013.0                     384.0      Your heart will be set afire with The Duke Diaries, the third book in Sophia Nash's Royal Entourage series set in Regency England.\nAfter a wild, scandalous night, Rory Lennox, the Duke of Abshire, finds himself in the bed of his sworn enemy's wholesome sister, Verity Fitzroy. To protect her honor and keep the peace, he agrees to marriage, but it's an engagement neither is happy about--until unimaginable occurrences make them view the other in a new, passionate light.\nRITA Award-winning author Sophia Nash is a master of the historical romance who has created unforgettable, compelling characters with powerful emotions and intense sensuality. Sparkling and smart, The Duke Diaries is a wickedly fun romp that will leave you breathless.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 history, historical fiction, biography, romance, fiction, mystery, thriller, crime                                    https://images.gr-assets.com/books/1350872183m/15704763.jpg  1645           77                  141             255             210             48              22              676            3.7         21367114, 3017662                                                                                               1
21376876  0425262103  9.780425e+12  Going Under                                Lauren Dane           2013.0                     298.0      "Lauren Dane always delivers a steamy, exciting ride,"* and she does it again in her new novel of two lovers fighting for their lives against a rising threat, and a passion that's just as dangerous...\nIn the wake of the Magister's rampage, chaos rules. Left reeling, the Others and the humans scramble to create a some sort of unity in the face of growing unrest and violence from anti-Other hate groups federation--and ruthless PR guru Molly Ryan is the witch who can do it. She grew up in the human world but there's nothing left for her there. She's lost her PR firm, her friends and she's decided to put all her fight toward aiding the Others in this dark, new reality. If there's anything left for her there, she's going to fight for it. But Gage Garrity, one of the few Others who survived the massacre, fears that the crusade will expose Molly to greater dangers than ever before.\nNow, together, with magick on their side, they're on the road in a desperate struggle to unite a torn world. From state houses to television news to legislative conference rooms across the country, they're fighting the good fight. And it's bringing out a passion in both of them they never expected--one as volatile, intense, and all-consuming as their relentless battle for world unity. A battle that could be their undoing...  fantasy, paranormal, romance, fiction, mystery, thriller, crime                                                       https://images.gr-assets.com/books/1347813349m/15710591.jpg  1849           78                  246             280             149             26              8               709            4.0         18683185                                                                                                        1

In [24]:
df_books[df_books["author"] == "Newt Scamander"]

,work_id,isbn,isbn13,original_title,author,original_publication_year,num_pages,description,genres,image_url,reviews_count,text_reviews_count,5_star_ratings,4_star_ratings,3_star_ratings,2_star_ratings,1_star_ratings,ratings_count,avg_rating,similar_books
3633,4195128,0439321603,9.780439e+12,Fantastic Beasts and Where to Find Them,Newt Scamander,2001.0,59.0,"Fantastic Beasts and Where to Find Them, Newt ...","fantasy, paranormal, young-adult, fiction, chi...",https://images.gr-assets.com/books/1303738520m...,377883,6868,81534,67044,54564,13629,3016,219787,4.0,2361348

In [7]:

df_books[df_books["work_id"] == 16827462]

,work_id,isbn,isbn13,original_title,author,original_publication_year,num_pages,description,genres,image_url,reviews_count,text_reviews_count,5_star_ratings,4_star_ratings,3_star_ratings,2_star_ratings,1_star_ratings,ratings_count,avg_rating,similar_books
9296,16827462,0525478817,9.780525e+12,The Fault in Our Stars,John Green,2012.0,313.0,"There is an alternate cover edition .\n""I fell...","young-adult, fiction, romance",https://images.gr-assets.com/books/1360206420m...,3614315,142351,1351908,723931,341290,96986,50541,2564656,4.3,"14836611, 16351193, 14547795, 14515040, 173658..."

In [11]:
df_books[df_books['work_id'] == 66322]

,work_id,isbn,isbn13,original_title,author,original_publication_year,num_pages,description,genres,image_url,reviews_count,text_reviews_count,5_star_ratings,4_star_ratings,3_star_ratings,2_star_ratings,1_star_ratings,ratings_count,avg_rating,similar_books
2647,66322,076531178X,9.780765e+12,Mistborn : The Final Empire,Brandon Sanderson,2006.0,541.0,"In a world where ash falls from the sky, and m...","fantasy, paranormal, fiction, young-adult, rom...",https://images.gr-assets.com/books/1480717416m...,458130,16872,141438,79392,21231,4134,1831,248026,4.4,"6242207, 1920889, 15702555, 2930878, 2571145, ..."

In [6]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143887 entries, 0 to 1143886
Data columns (total 10 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   review_id    1143887 non-null  object
 1   user_id      1143887 non-null  object
 2   work_id      1143887 non-null  int64
 3   started_at   796392 non-null   object
 4   read_at      1031765 non-null  object
 5   date_added   1143887 non-null  object
 6   rating       1106569 non-null  float64
 7   review_text  1143887 non-null  object
 8   n_votes      1143887 non-null  int64
 9   n_comments   1143887 non-null  int64
dtypes: float64(1), int64(3), object(6)
memory usage: 87.3+ MB